@model BOL.Meeting

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "ScheduleMeeting", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="form-horizontal">
        <div class="container">
            <div class="row">
                <table class="table table-striped table-hover table-bordered table-condensed table-responsive ">
                    <thead class="col-md-5">
                        <tr class="modal-title label-success">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">Schedule A Meeting</h3>
                                </div>
                            </div>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="modal-title label-success text-center">
                            <th class="text-center">Meeting</th>
                        </tr>
                        <tr>
                            <td>
                                <div class="panel-body">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <br />
                                    <div class="form-group glyphicon-align-center">
                                        @Html.LabelFor(model => model.MeetingType_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("MeetingType_id", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.MeetingType_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Meeting_Date, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10 ">
                                            @Html.EditorFor(model => model.Meeting_Date, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Meeting_Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Date_Scheduled, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Date_Scheduled, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Date_Scheduled, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Topic, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Topic, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Topic, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.MeetingStatus_id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("MeetingStatus_id", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.MeetingStatus_id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="form-group">
                                        @Html.LabelFor(model => model.Employee.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("F_Name", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Employee.Meeting_Employee, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save Meeting" class="btn btn-success" />
        </div>
    </div>

}

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
